apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- rbac.yaml
- deployment.yaml

images:
- name: controller
  newName: openshift-pipelines/syncer-service
  newTag: latest
